body { font: normal .8em/1.5em Arial, Helvetica, sans-serif; }


a { color: #333; }

@media all { 
  .page-break  { display:none; } 
}
   

@media print { 
     #nav { display:none; }
     /*ul.nav { display:none; } */
     .gui { display:none; }
    .page-break  { display:block; page-break-before:always; }
    div.gui { display:none; }
    .gui { display:none; }
}

@media screen {

    #members { text-align:left; white-space:nowrap; width:10em; font-size:10px;  }

    .proveinfo { font-size:1.3em; font-weight:bold; }
    a.copylink { text-decoration:none; color:blue; }

    ul.nav {
        margin: 0;
        font-size:0.7em;
        width:6em;
        height:16px;
        margin-right:auto;
        margin-left:auto;
        padding: 0px 2px 0;
        line-height: 60%;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        background: #8b8b8b; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79a9ff', endColorstr='#7a7a7a'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#79a9ff), to(#7a7a7a)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #79a9ff,  #7a7a7a); /* for firefox 3.6+ */
        background-image: -o-linear-gradient(top ,#79a9ff,#7a7a7a); /* opera */
        border: solid 1px #6d6d6d;
    }

    ul.alleprover {
        margin: 0;
        font-size:1em;
        width:12em;
        height:16px;
        margin-right:auto;
        margin-left:auto;
        padding: 0px 2px 0;
        line-height: 60%;
        border-radius:none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background: none;
        border: none;
    }

    ul.bad {
      width:0.85em;
      border:solid 1px red;
      padding:0;
      margin:0;
      -webkit-border-radius: none;
      -moz-border-radius: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background: #Fbbb8b; /* for non-css3 browsers */
      border: solid 1px #6d6d6d;
    }

    ul.nav li {
        margin: 0 5px;
        padding: 0 0 8px;
        float: left;
        position: relative;
        top:-2px;
        list-style: none;
        /*z-index:100;*/
    }
    /* main level link */
    ul.nav a {
        font-weight: bold;
        color: #e7e5e5;
        text-decoration: none;
        display: block;
        padding:  8px 2px;
        margin: 0;
        -webkit-border-radius: 1.6em;
        -moz-border-radius: 1.6em;
        /*text-shadow: 0 1px 1px rgba(0, 0, 0, .3);*/
    }
    /* main level link hover */
    ul.nav .current a, ul.nav li:hover > a {
        /*
        background: #d1d1d1; 
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); 
        background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); 
        background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); 
        color: #444;
        border-top: solid 1px #f8f8f8;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
        */
    }
    /* sub levels link hover */
    ul.nav ul li:hover a, ul.nav li:hover li a {
        background: none;
        border: none;
        color: #666;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    ul.nav ul a:hover {
        background: #0399d4 !important; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
        background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */
        background-image: -o-linear-gradient(top ,#04acec,  #0186ba) !important; /* opera */
     
        color: #fff !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        /*text-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
    }
    /* level 2 list */
    ul.nav ul {
        background: #ddd; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); 
        background: -moz-linear-gradient(top,  #fff,  #cfcfcf);
        background-image: -o-linear-gradient(top ,#fff,  #cfcfcf);
        font-size:1.0em;
        color:green;
        z-index:9000;
     
        display: none;
        margin: 0;
        padding: 0;
        width: 185px;
        position: absolute;
        top: 20px;  /* audun:35px */
        left: 0;
        border: solid 1px #b4b4b4;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }
    /* dropdown */
    ul.nav li:hover > ul {
        display: block;
    }
    ul.nav ul li {
        float: none;
        margin: 0;
        padding: 0;
    }
    ul.nav ul a {
        font-weight: normal;
        /*text-shadow: 0 1px 1px rgba(255, 255, 255, .9);*/
    }
    /* level 3+ list */
    ul.nav ul ul {
        left: 131px;
        top: -3px;
    }
    /* rounded corners for first and last child */
    ul.nav ul li:first-child > a {
        -webkit-border-top-left-radius: 9px;
        -moz-border-radius-topleft: 9px;
        -webkit-border-top-right-radius: 9px;
        -moz-border-radius-topright: 9px;
    }
    ul.nav ul li:last-child > a {
        -webkit-border-bottom-left-radius: 9px;
        -moz-border-radius-bottomleft: 9px;
        -webkit-border-bottom-right-radius: 9px;
        -moz-border-radius-bottomright: 9px;
    }
    /* clearfix */
    ul.nav:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    ul.nav {
        display: inline-block;
    }

    #nav {
        margin: 0;
        width:60em;
        margin-right:auto;
        margin-left:auto;
        padding: 7px 6px 0;
        line-height: 100%;
        border-radius: 2em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
        background: #8b8b8b; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#79a9ff', endColorstr='#7a7a7a'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#79a9ff), to(#7a7a7a)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #79a9ff,  #7a7a7a); /* for firefox 3.6+ */
        background-image: -o-linear-gradient(top ,#79a9ff,#7a7a7a); /* opera */
        border: solid 1px #6d6d6d;
    }
    #nav li {
        margin: 0 5px;
        padding: 0 0 8px;
        float: left;
        position: relative;
        list-style: none;
        z-index:9000;
    }
    /* main level link */
    #nav a {
        font-weight: bold;
        color: #e7e5e5;
        text-decoration: none;
        display: block;
        padding:  8px 20px;
        margin: 0;
        -webkit-border-radius: 1.6em;
        -moz-border-radius: 1.6em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }
    /* main level link hover */
    #nav .current a, #nav li:hover > a {
        background: #d1d1d1; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
        background-image: -o-linear-gradient(top ,#ebebeb,  #a1a1a1);
     
        color: #444;
        border-top: solid 1px #f8f8f8;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    }
    /* sub levels link hover */
    #nav ul li:hover a, #nav li:hover li a {
        background: none;
        border: none;
        color: #666;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #nav ul a:hover {
        background: #0399d4 !important; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
        background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */
        background-image: -o-linear-gradient(top ,#04acec,  #0186ba) !important;
     
        color: #fff !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    }
    /* level 2 list */
    #nav ul {
        background: #ddd; /* for non-css3 browsers */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */
        background-image: -o-linear-gradient(top ,#fff,  #cfcfcf);
     
        display: none;
        margin: 0;
        padding: 0;
        width: 135px;
        position: absolute;
        top: 35px;
        left: 0;
        border: solid 1px #b4b4b4;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }
    /* dropdown */
    #nav li:hover > ul {
        display: block;
        opacity:0.95;
    }
    #nav ul li {
        float: none;
        margin: 0;
        padding: 0;
    }
    #nav ul a {
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
    }
    /* level 3+ list */
    #nav ul ul {
        left: 131px;
        top: -3px;
    }
    /* rounded corners for first and last child */
    #nav ul li:first-child > a {
        -webkit-border-top-left-radius: 9px;
        -moz-border-radius-topleft: 9px;
        -webkit-border-top-right-radius: 9px;
        -moz-border-radius-topright: 9px;
    }
    #nav ul li:last-child > a {
        -webkit-border-bottom-left-radius: 9px;
        -moz-border-radius-bottomleft: 9px;
        -webkit-border-bottom-right-radius: 9px;
        -moz-border-radius-bottomright: 9px;
    }
    /* clearfix */
    #nav:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    #nav {
        /*display: inline-block;*/
    }
    html[xmlns] #nav {
        display: block;
    }
    * html #nav {
        height: 1%;
    }
}
