#header
  h1#htitle Årsplan for Skeisvang
ul#nav 
  li.current 
    a(href="#") Login
    ul 
      li 
        a#login(href="#") login
      li 
        a#logout(href="#") logout
      li 
        a#seek(href="#") søk
  li 
    a#yearplan(href="#") Årsplan
    ul 
      li 
        a#denne(href="#") Denne uka
      li 
        a#neste(href="#") Neste 4 uker
      li 
        a#resten(href="#") Resten av året
      li 
        a#hele(href="#") Hele året
      li 
        a#prover(href="#") Mine prøver
      li 
        a#heldag(href="#") Heldag
      li 
        a#alleprover(href="#") Alle prøver
  li
    a#fagplaner(href="#") Planer
    ul 
      li#teachmenu
        a#mineplaner(href="#") Mine fag</a>    </li> 
      li
        a#andreplaner(href="#") Andre fag</a>   </li> 
      li
        a#edbortfall(href="#") Bortfall</a>   </li> 
  li
    a#timeplaner(href="#") Timeplaner 
    ul 
      li
        a#timeplanteach(href="#") Lærere
      li
        a#timeplanelev(href="#") Elever
      li
        a(href="#") Grupperinger
        ul
          li
            a#timeplanklasse(href="#") Klasser
          li
            a#timeplangruppe(href="#") Grupper
          li
            a#timeplanfag(href="#") Fag
        li
          a#timeplanrom(href="#") Rom
        li
          a#timeplansamling(href="#") Sammenstilling
p 
  #main
    h1#oskrift 
    #timeviser
      #timeplan Henter planer ...
